<ion-header>
  <ion-toolbar>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>Bluetooth: {{strStatusBlue }} | Conexão: {{strStatusConn}}</ion-item>
  <ion-button expand="full" (click)="connectToElm327()">Conectar ao ELM327</ion-button>
  <ion-row>
    <ion-col>Comando</ion-col>
    <ion-col>Resposta</ion-col>
    <ion-col>Formatado</ion-col>
    <ion-col>Descrição</ion-col>
  </ion-row>
  <div *ngFor="let item of comandos">
    <ion-row>
      <ion-col>{{ item.comando }}</ion-col>
      <ion-col>{{ item.valor_hex }}</ion-col>
      <ion-col>{{ item.valor_texto }}</ion-col>
      <ion-col>{{ item.desc_medida }}</ion-col>
    </ion-row>
  </div>
  <!-- <ion-button expand="full" (click)="convert()">Convert</ion-button> -->
  <ion-button expand="full" (click)="saveComandos()">Salvar Resultados</ion-button>
  <ion-button expand="full" (click)="getComandos()">Recuperar Resultados</ion-button>
</ion-content>
